#table{
			border-collapse: collapse;
			
			width:100%;
			
			color:#d96459;
			
			font-family:monospace;
			
			font-size:56px;
			
			text-align:left;
			
			
			
			
			
			
			
		}
	
	th{
		
		background-color:#d96459;
		
		color:white;
		
		
		
	}
	
	table.tr:nth-child (even){background-color:#f2f2f2}
	